{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/linkedTrain/controllerConfigurator/header.png",
      "fileBody" : "/interface/linkedTrain/controllerConfigurator/window.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " Station Controller Configuration",
      "subtitle" : " Configure the station controller",
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/researchstation.png"
      },
      "zlevel" : -1
    },
    "imgShine" : {
      "type" : "image",
      "file" : "/interface/linkedTrain/controllerConfigurator/shine.png",
      "zlevel" : 1,
      "position" : [0, 0],
      "mouseTransparent" : true
    },
	"close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [379, 324]
    },
	
	"mainOverlay" : {
      "type" : "layout",
      "visible" : false,
      "layoutType" : "basic",
      "zlevel" : 1,
      "rect" : [1, 51, 230, 157],
      "children" : {
	  }
	},
	
	"groupStationsButton" : {
      "type" : "button",
	  "visible" : false,
      "disabled" : false,
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonactivehover.png",
      "pressed" : "/interface/buttonactive.png",
      "caption" : "Groups",
      "position" : [20, 296],
	  "zlevel" : 2,
      "callback" : "groupStationsButtonPressed"
    },
	"Edit1Label" : {
      "type" : "label",
      "position" : [282, 306],
      "hAnchor" : "left",
      "value" : "^green;Use this slot to link^reset;"
    },
	"Edit2Label" : {
      "type" : "label",
      "position" : [272, 296],
      "hAnchor" : "left",
      "value" : "^green;trainsets and sensors^reset;"
    },
	"linkButton" : {
      "type" : "button",
	  "visible" : false,
      "disabled" : false,
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonactivehover.png",
      "pressed" : "/interface/buttonactive.png",
      "caption" : "Link",
      "position" : [260, 278],
      "zlevel" : 2,
      "callback" : "linkButtonPressed"
    },
	"unlinkButton" : {
      "type" : "button",
	  "visible" : false,
      "disabled" : false,
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonactivehover.png",
      "pressed" : "/interface/buttonactive.png",
      "caption" : "Un-Link",
      "position" : [260, 278],
      "zlevel" : 2,
      "callback" : "unlinkButtonPressed"
    },
	"itemGrid" : {
      "type" : "itemgrid",
	  "slotOffset" : 0,
      "position" : [317, 276],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
	"ErrorLabel1" : {
      "type" : "label",
	  "visible" : false,
      "position" : [293, 299],
      "hAnchor" : "left",
      "value" : "^red;wrong item type!^reset;"
    }
	
  },
  
  "scriptWidgetCallbacks" : [
    "linkButtonPressed",
	"unlinkButtonPressed",
	"groupStationsButtonPressed"
  ],
  "scripts" : ["/objects/rails/controllerConfigurator/controllerConfiguratorGUI.lua"],
  "scriptDelta" : 5,

  "sounds" : {
	"error" : "/sfx/interface/clickon_error.ogg",
	"on" : "/sfx/objects/console_generic_switchon.ogg",
    "off" : "/sfx/objects/console_generic_switchoff.ogg"
  }

}
