{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/linkedTrain/trainConfigurator/header.png",
      "fileBody" : "/interface/linkedTrain/trainConfigurator/window.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " Train set configurator",
      "subtitle" : " Build your own train set item spawner!",
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/craftingicon.png"
      },
      "zlevel" : -1
    },
    "imgShine" : {
      "type" : "image",
      "file" : "/interface/linkedTrain/trainConfigurator/shine.png",
      "zlevel" : 1,
      "position" : [0, 0],
      "mouseTransparent" : true
    },
	"close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [379, 324]
    },
    "Edit1Label" : {
      "type" : "label",
      "position" : [282, 306],
      "hAnchor" : "left",
      "value" : "^green;Use this slot to edit^reset;"
    },
	"Edit2Label" : {
      "type" : "label",
      "position" : [272, 296],
      "hAnchor" : "left",
      "value" : "^green;a previously made train set^reset;"
    },
	"loadTrainsetButton" : {
      "type" : "button",
	  "visible" : false,
      "disabled" : false,
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonactivehover.png",
      "pressed" : "/interface/buttonactive.png",
      "caption" : "Load",
      "position" : [260, 278],
      "zlevel" : 2,
      "callback" : "loadTrainsetButtonPressed"
    },
    "itemGrid" : {
      "type" : "itemgrid",
	  "slotOffset" : 0,
      "position" : [317, 276],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
	"saveTrainsetButton" : {
      "type" : "button",
	  "visible" : false,
      "disabled" : false,
      "base" : "/interface/buttonred.png",
      "hover" : "/interface/buttonredhover.png",
      "pressed" : "/interface/buttonactive.png",
      "caption" : "Save",
      "position" : [337, 278],
      "zlevel" : 2,
      "callback" : "saveTrainsetButtonPressed"
    },
	"ErrorLabel1" : {
      "type" : "label",
	  "visible" : false,
      "position" : [293, 299],
      "hAnchor" : "left",
      "value" : "^red;wrong item type!^reset;"
    },
	
	"debugButton" : {
      "type" : "button",
	  "visible" : true,
      "disabled" : false,
      "base" : "/interface/buttonred.png",
      "hover" : "/interface/buttonredhover.png",
      "pressed" : "/interface/buttonactive.png",
      "caption" : "Debug",
      "position" : [300, 325],
      "zlevel" : 2,
      "callback" : "debugButton"
    },
	
	"labelnumberOfCars" : {
      "type" : "label",
	  "visible" : true,
      "position" : [12, 306],
      "hAnchor" : "left",
	  "value" : "Number of cars"
    },
	"valuenumberOfCars" : {
      "type" : "label",
	  "visible" : true,
      "position" : [40, 296],
      "hAnchor" : "left",
	  "value" : "0"
    },
    "carNumberSpinner" : {
      "type" : "spinner",
      "position" : [20, 296],
	  "upOffset" : 36,
      "zlevel" : 1
    },
	"currentCarPreviewCockpit" : {
      "type" : "image",
	  "visible" : false,
	  "zlevel" : 2,
      "position" : [206, 183],
	  "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
    },
	"currentCarPreviewBody" : {
      "type" : "image",
	  "visible" : false,
	  "zlevel" : 3,
      "position" : [206, 183],
	  "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
    },
	"currentCarPreviewPantograph" : {
      "type" : "image",
	  "visible" : false,
	  "zlevel" : 3,
      "position" : [206, 183],
	  "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
    },
	"currentCarPreviewDecal1" : {
      "type" : "image",
	  "visible" : false,
	  "zlevel" : 4,
      "position" : [206, 183],
	  "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
    },
	"currentCarPreviewDecal2" : {
      "type" : "image",
	  "visible" : false,
	  "zlevel" : 5,
      "position" : [206, 183],
	  "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
    },
	"currentCarPreviewDecal3" : {
      "type" : "image",
	  "visible" : false,
	  "zlevel" : 6,
      "position" : [206, 183],
	  "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
    },
	"currentCarPreviewDecal4" : {
      "type" : "image",
	  "visible" : false,
	  "zlevel" : 7,
      "position" : [206, 183],
	  "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
    },
	"currentCarPreviewDecal5" : {
      "type" : "image",
	  "visible" : false,
	  "zlevel" : 8,
      "position" : [206, 183],
	  "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
    },
	"currentCarPreviewDecal6" : {
      "type" : "image",
	  "visible" : false,
	  "zlevel" : 9,
      "position" : [206, 183],
	  "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
    },
	"currentCarPreviewDecal7" : {
      "type" : "image",
	  "visible" : false,
	  "zlevel" : 10,
      "position" : [206, 183],
	  "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
    },
	"currentCarPreviewDecal8" : {
      "type" : "image",
	  "visible" : false,
	  "zlevel" : 11,
      "position" : [206, 183],
	  "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
    },
	"currentCarPreviewDecal9" : {
      "type" : "image",
	  "visible" : false,
	  "zlevel" : 12,
      "position" : [206, 183],
	  "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
    },
	"currentCarPreviewDecal10" : {
      "type" : "image",
	  "visible" : false,
	  "zlevel" : 13,
      "position" : [206, 183],
	  "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
    },
	"carTypeSpinner" : {
      "type" : "spinner",
	  "visible" : false,
      "position" : [192, 223],
	  "upOffset" : 167,
      "zlevel" : 1
    },
	"CurrentCarNumberLabel" : {
      "type" : "label",
	  "visible" : false,
      "position" : [246, 266],
      "hAnchor" : "left",
      "value" : "^green;Car number: ^reset;"
    },
	"CurrentCarNumberValue" : {
      "type" : "label",
	  "visible" : false,
      "position" : [296, 266],
      "hAnchor" : "left",
      "value" : " "
    },
	"carTypeLabel" : {
      "type" : "label",
	  "visible" : false,
      "position" : [180, 167],
      "hAnchor" : "left",
      "value" : "^green;Car type: ^reset;"
    },
	"carTypeValue" : {
      "type" : "label",
	  "visible" : false,
      "position" : [218, 167],
      "hAnchor" : "left",
      "value" : " "
    },
	"carDescLabel" : {
      "type" : "label",
	  "visible" : false,
      "position" : [168, 157],
      "hAnchor" : "left",
      "value" : "^green;description: ^reset;"
    },
	"scrollAreaDesc": {
	  "type" : "scrollArea",
	  "position" : [218, 128],
	  "size" : [163, 38],
	  "children" : {
	    "carDescValue" : {
          "type" : "label",
	      "visible" : false,
          "position" : [25, -15],
          "hAnchor" : "left",
	      "wrapWidth" : 160,
          "value" : " "
        },
		"copyCarLabel" : {
          "type" : "label",
	      "visible" : false,
          "position" : [25, -25],
          "hAnchor" : "left",
	      "wrapWidth" : 160,
          "value" : " "
        },
		"copyCarLabel1" : {
          "type" : "label",
	      "visible" : false,
          "position" : [25, -35],
          "hAnchor" : "left",
	      "wrapWidth" : 160,
          "value" : "^red;<--choose a car on the left^reset;"
        },
		"cancelCopyButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/buttonred.png",
          "hover" : "/interface/buttonredhover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Cancel",
          "position" : [25, -50],
          "zlevel" : 2,
          "callback" : "cancelCopyButton"
        },
		"discardCarLabel" : {
          "type" : "label",
	      "visible" : false,
          "position" : [25, -25],
          "hAnchor" : "left",
	      "wrapWidth" : 160,
          "value" : "^red;Save changes to car ?^reset;"
        },
		"cancel1Button" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/buttonred.png",
          "hover" : "/interface/buttonredhover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Cancel",
          "position" : [25, -45],
          "zlevel" : 2,
          "callback" : "cancel1Button"
        },
		"saveAndSwitchButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/buttonred.png",
          "hover" : "/interface/buttonredhover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Save car ",
          "position" : [85, -45],
          "zlevel" : 2,
          "callback" : "saveAndSwitchButton"
        }
	  }
    },
	"color1Label" : {
      "type" : "label",
	  "visible" : false,
      "position" : [168, 117],
      "hAnchor" : "left",
      "value" : "^green;color 1:^reset;"
    },
	"color1Spinner" : {
      "type" : "spinner",
	  "visible" : false,
      "position" : [200, 117],
	  "upOffset" : 33,
      "zlevel" : 1
    },
	"color1Value" : {
      "type" : "label",
	  "visible" : false,
      "position" : [219, 117],
      "hAnchor" : "left",
      "value" : " "
    },
	"color2Label" : {
      "type" : "label",
	  "visible" : false,
      "position" : [248, 117],
      "hAnchor" : "left",
      "value" : "^green;color 2:^reset;"
    },
	"color2Spinner" : {
      "type" : "spinner",
	  "visible" : false,
      "position" : [280, 117],
	  "upOffset" : 33,
      "zlevel" : 1
    },
	"color2Value" : {
      "type" : "label",
	  "visible" : false,
      "position" : [298, 117],
      "hAnchor" : "left",
      "value" : " "
    },
	
	"decal1Label" : {
      "type" : "label",
	  "visible" : false,
      "position" : [168, 104],
      "hAnchor" : "left",
      "value" : "^green;decal 1:^reset;"
    },
	"decal1Spinner" : {
      "type" : "spinner",
	  "visible" : false,
      "position" : [200, 104],
	  "upOffset" : 33,
      "zlevel" : 1
    },
	"decal1Value" : {
      "type" : "label",
	  "visible" : false,
      "position" : [219, 104],
      "hAnchor" : "left",
      "value" : " "
    },
	"decal2Label" : {
      "type" : "label",
	  "visible" : false,
      "position" : [248, 104],
      "hAnchor" : "left",
      "value" : "^green;decal 2:^reset;"
    },
	"decal2Spinner" : {
      "type" : "spinner",
	  "visible" : false,
      "position" : [280, 104],
	  "upOffset" : 33,
      "zlevel" : 1
    },
	"decal2Value" : {
      "type" : "label",
	  "visible" : false,
      "position" : [298, 104],
      "hAnchor" : "left",
      "value" : " "
    },
	
	
	"decal3Label" : {
      "type" : "label",
	  "visible" : false,
      "position" : [168, 91],
      "hAnchor" : "left",
      "value" : "^green;decal 3:^reset;"
    },
	"decal3Spinner" : {
      "type" : "spinner",
	  "visible" : false,
      "position" : [200, 91],
	  "upOffset" : 33,
      "zlevel" : 1
    },
	"decal3Value" : {
      "type" : "label",
	  "visible" : false,
      "position" : [219, 91],
      "hAnchor" : "left",
      "value" : " "
    },
	"decal4Label" : {
      "type" : "label",
	  "visible" : false,
      "position" : [248, 91],
      "hAnchor" : "left",
      "value" : "^green;decal 4:^reset;"
    },
	"decal4Spinner" : {
      "type" : "spinner",
	  "visible" : false,
      "position" : [280, 91],
	  "upOffset" : 33,
      "zlevel" : 1
    },
	"decal4Value" : {
      "type" : "label",
	  "visible" : false,
      "position" : [298, 91],
      "hAnchor" : "left",
      "value" : " "
    },
	
	"decal5Label" : {
      "type" : "label",
	  "visible" : false,
      "position" : [168, 78],
      "hAnchor" : "left",
      "value" : "^green;decal 5:^reset;"
    },
	"decal5Spinner" : {
      "type" : "spinner",
	  "visible" : false,
      "position" : [200, 78],
	  "upOffset" : 33,
      "zlevel" : 1
    },
	"decal5Value" : {
      "type" : "label",
	  "visible" : false,
      "position" : [219, 78],
      "hAnchor" : "left",
      "value" : " "
    },
	"decal6Label" : {
      "type" : "label",
	  "visible" : false,
      "position" : [248, 78],
      "hAnchor" : "left",
      "value" : "^green;decal 6:^reset;"
    },
	"decal6Spinner" : {
      "type" : "spinner",
	  "visible" : false,
      "position" : [280, 78],
	  "upOffset" : 33,
      "zlevel" : 1
    },
	"decal6Value" : {
      "type" : "label",
	  "visible" : false,
      "position" : [298, 78],
      "hAnchor" : "left",
      "value" : " "
    },
	
	"decal7Label" : {
      "type" : "label",
	  "visible" : false,
      "position" : [168, 65],
      "hAnchor" : "left",
      "value" : "^green;decal 7:^reset;"
    },
	"decal7Spinner" : {
      "type" : "spinner",
	  "visible" : false,
      "position" : [200, 65],
	  "upOffset" : 33,
      "zlevel" : 1
    },
	"decal7Value" : {
      "type" : "label",
	  "visible" : false,
      "position" : [219, 65],
      "hAnchor" : "left",
      "value" : " "
    },
	"decal8Label" : {
      "type" : "label",
	  "visible" : false,
      "position" : [248, 65],
      "hAnchor" : "left",
      "value" : "^green;decal 8:^reset;"
    },
	"decal8Spinner" : {
      "type" : "spinner",
	  "visible" : false,
      "position" : [280, 65],
	  "upOffset" : 33,
      "zlevel" : 1
    },
	"decal8Value" : {
      "type" : "label",
	  "visible" : false,
      "position" : [298, 65],
      "hAnchor" : "left",
      "value" : " "
    },
	
	"decal9Label" : {
      "type" : "label",
	  "visible" : false,
      "position" : [168, 52],
      "hAnchor" : "left",
      "value" : "^green;decal 9:^reset;"
    },
	"decal9Spinner" : {
      "type" : "spinner",
	  "visible" : false,
      "position" : [200, 52],
	  "upOffset" : 33,
      "zlevel" : 1
    },
	"decal9Value" : {
      "type" : "label",
	  "visible" : false,
      "position" : [219, 52],
      "hAnchor" : "left",
      "value" : " "
    },
	"decal10Label" : {
      "type" : "label",
	  "visible" : false,
      "position" : [245, 52],
      "hAnchor" : "left",
      "value" : "^green;decal 10:^reset;"
    },
	"decal10Spinner" : {
      "type" : "spinner",
	  "visible" : false,
      "position" : [280, 52],
	  "upOffset" : 33,
      "zlevel" : 1
    },
	"decal10Value" : {
      "type" : "label",
	  "visible" : false,
      "position" : [298, 52],
      "hAnchor" : "left",
      "value" : " "
    },
	
	"reversedLabel" : {
      "type" : "label",
	  "visible" : false,
      "position" : [331, 107],
      "hAnchor" : "left",
      "value" : "^green;reversed:^reset;"
    },	
	"reversedCheckBox" : {
      "type" : "button",
      "base" : "/interface/title/checkboxnocheck.png",
      "hover" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheck.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : false,
	  "visible" : false,
      "position" : [381, 107],
      "callback" : "reversedCheckBox"
    },
	
	"pantographLabel" : {
      "type" : "label",
	  "visible" : false,
      "position" : [331, 117],
      "hAnchor" : "left",
      "value" : "^green;pantograph:^reset;"
    },
	"pantographCheckBox" : {
      "type" : "button",
      "base" : "/interface/title/checkboxnocheck.png",
      "hover" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheck.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : false,
	  "visible" : false,
      "position" : [381, 117],
      "callback" : "pantographCheckBox"
    },
	
	"doorslockedLabel" : {
      "type" : "label",
	  "visible" : false,
      "position" : [168, 41],
      "hAnchor" : "left",
      "value" : "^green;doors locked:^reset;"
    },
	"doorslockedCheckBox" : {
      "type" : "button",
      "base" : "/interface/title/checkboxnocheck.png",
      "hover" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheck.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : false,
	  "visible" : false,
      "position" : [221, 41],
      "callback" : "doorslockedCheckBox"
    },
	
	"craftButton" : {
      "type" : "button",
	  "visible" : false,
      "disabled" : false,
      "base" : "/interface/buttonred.png",
      "hover" : "/interface/buttonredhover.png",
      "pressed" : "/interface/buttonactive.png",
      "caption" : "Craft!",
      "position" : [328, 8],
      "zlevel" : 2,
      "callback" : "craftButton"
    },
	
	"craftSpinner" : {
      "type" : "spinner",
	  "visible" : false,
      "position" : [339, 25],
	  "upOffset" : 27,
      "zlevel" : 1
    },
	
	"craftValue" : {
      "type" : "textbox",
	  "visible" : false,
	  "textAlign" : "center",
      "position" : [346, 25],
      "hAnchor" : "left",
	  "maxWidth" : 16,
      "regex" : "x?\\d{0,2}",
      "hint" : " ",
	  "callback" : "crafTextbox",
	  "enterKey" : "crafTextbox"
    },
	
	"imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/linkedTrain/trainConfigurator/amount.png",
      "position" : [346, 24],
      "zlevel" : -3
    },
	
	"howMany" : {
      "type" : "label",
	  "visible" : false,
      "position" : [218, 25],
      "hAnchor" : "left",
      "value" : "^red;How many trainsets to craft?^reset;"
    },
	
	"priceLabel" : {
      "type" : "label",
	  "visible" : false,
      "position" : [331, 53],
      "hAnchor" : "left",
      "value" : "^green;price:^reset;"
    },
	"priceValue" : {
      "type" : "label",
	  "visible" : false,
      "position" : [356, 53],
      "hAnchor" : "left",
      "value" : " "
    },
    "pixelsIcon" : {
      "type" : "image",
      "position" : [7, 11],
      "file" : "/interface/money.png"
    },
	"playerPixels" : {
      "type" : "label",
      "position" : [21, 11],
      "hAnchor" : "left",
      "value" : "90000000"
    },
	
	"priceTotalLabel" : {
      "type" : "label",
	  "visible" : false,
      "position" : [218, 11],
      "hAnchor" : "left",
      "value" : "^red;craft price:^reset;"
    },
	"pixelsIcon2" : {
      "type" : "image",
	  "visible" : false,
      "position" : [267, 11],
      "file" : "/interface/money.png"
    },
	"priceTotalValue" : {
      "type" : "label",
	  "visible" : false,
      "position" : [281, 11],
      "hAnchor" : "left",
      "value" : "^green; ^reset;"
    },
	
	"notEnoughMoneyLabel" : {
      "type" : "label",
	  "visible" : false,
      "position" : [218, 11],
      "hAnchor" : "left",
      "value" : "^red;not enough money^reset;"
    },
	
	"copyCarButton" : {
      "type" : "button",
	  "visible" : false,
      "disabled" : false,
      "base" : "/interface/buttonred.png",
      "hover" : "/interface/buttonredhover.png",
      "pressed" : "/interface/buttonactive.png",
      "caption" : "Copy car ",
      "position" : [234, 36],
      "zlevel" : 2,
      "callback" : "copyCarButtonPressed"
    },
		
	"saveCarButton" : {
      "type" : "button",
	  "visible" : false,
      "disabled" : false,
      "base" : "/interface/buttonred.png",
      "hover" : "/interface/buttonredhover.png",
      "pressed" : "/interface/buttonactive.png",
      "caption" : "Save Car ",
      "position" : [328, 36],
      "zlevel" : 2,
      "callback" : "saveCarButtonPressed"
    },
	
	"scrollArea": {
	  "type" : "scrollArea",
	  "position" : [6, 27],
	  "size" : [158, 265],
	  "children" : {
        "car1Button" : {
          "type" : "button",
		  "visible" : true,
		  "disabled" : false,
          "position" : [25, -80],
		  "caption" : "1",
		  "textAlign" : "left",
		  "textOffset" : [0, 0],
		  "zlevel" : 1,
		  "base" : "/interface/linkedTrain/trainConfigurator/empty.png",
		  "callback" : "car1Button"
        },
		"car1Body" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 2,
          "position" : [25, -80],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car1Pantograph" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 2,
          "position" : [25, -80],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car1Decal1" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 3,
          "position" : [25, -80],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car1Decal2" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 4,
          "position" : [25, -80],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car1Decal3" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 5,
          "position" : [25, -80],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car1Decal4" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 6,
          "position" : [25, -80],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car1Decal5" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 7,
          "position" : [25, -80],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car1Decal6" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 8,
          "position" : [25, -80],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car1Decal7" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 9,
          "position" : [25, -80],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car1Decal8" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 10,
          "position" : [25, -80],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car1Decal9" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 11,
          "position" : [25, -80],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car1Decal10" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 12,
          "position" : [25, -80],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car2Button" : {
          "type" : "button",
		  "visible" : true,
		  "disabled" : false,
          "position" : [25, -160],
		  "caption" : "2",
		  "textAlign" : "left",
		  "textOffset" : [0, 0],
		  "zlevel" : 1,
		  "base" : "/interface/linkedTrain/trainConfigurator/empty.png",
		  "callback" : "car2Button"
        },
		"car2Body" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 2,
          "position" : [25, -160],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car2Pantograph" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 2,
          "position" : [25, -160],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car2Decal1" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 3,
          "position" : [25, -160],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car2Decal2" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 4,
          "position" : [25, -160],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
        "car2Decal3" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 5,
          "position" : [25, -160],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car2Decal4" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 6,
          "position" : [25, -160],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car2Decal5" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 7,
          "position" : [25, -160],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car2Decal6" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 8,
          "position" : [25, -160],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car2Decal7" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 9,
          "position" : [25, -160],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car2Decal8" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 10,
          "position" : [25, -160],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car2Decal9" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 11,
          "position" : [25, -160],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car2Decal10" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 12,
          "position" : [25, -160],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		
		"car3Button" : {
          "type" : "button",
		  "visible" : true,
		  "disabled" : false,
          "position" : [25, -240],
		  "caption" : "3",
		  "textAlign" : "left",
		  "textOffset" : [0, 0],
		  "zlevel" : 1,
		  "base" : "/interface/linkedTrain/trainConfigurator/empty.png",
		  "callback" : "car3Button"
        },
		"car3Body" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 2,
          "position" : [25, -240],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car3Pantograph" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 2,
          "position" : [25, -240],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car3Decal1" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 3,
          "position" : [25, -240],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car3Decal2" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 4,
          "position" : [25, -240],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car3Decal3" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 5,
          "position" : [25, -240],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car3Decal4" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 6,
          "position" : [25, -240],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car3Decal5" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 7,
          "position" : [25, -240],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car3Decal6" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 8,
          "position" : [25, -240],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car3Decal7" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 9,
          "position" : [25, -240],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car3Decal8" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 10,
          "position" : [25, -240],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car3Decal9" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 11,
          "position" : [25, -240],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car3Decal10" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 12,
          "position" : [25, -240],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		
				
		"car4Button" : {
          "type" : "button",
		  "visible" : true,
		  "disabled" : false,
          "position" : [25, -320],
		  "caption" : "4",
		  "textAlign" : "left",
		  "textOffset" : [0, 0],
		  "zlevel" : 1,
		  "base" : "/interface/linkedTrain/trainConfigurator/empty.png",
		  "callback" : "car4Button"
        },
		"car4Body" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 2,
          "position" : [25, -320],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car4Pantograph" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 2,
          "position" : [25, -320],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car4Decal1" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 3,
          "position" : [25, -320],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car4Decal2" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 4,
          "position" : [25, -320],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car4Decal3" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 5,
          "position" : [25, -320],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car4Decal4" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 6,
          "position" : [25, -320],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car4Decal5" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 7,
          "position" : [25, -320],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car4Decal6" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 8,
          "position" : [25, -320],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car4Decal7" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 9,
          "position" : [25, -320],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car4Decal8" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 10,
          "position" : [25, -320],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car4Decal9" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 11,
          "position" : [25, -320],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car4Decal10" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 12,
          "position" : [25, -320],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		
		
		"car5Button" : {
          "type" : "button",
		  "visible" : true,
		  "disabled" : false,
          "position" : [25, -400],
		  "caption" : "5",
		  "textAlign" : "left",
		  "textOffset" : [0, 0],
		  "zlevel" : 1,
		  "base" : "/interface/linkedTrain/trainConfigurator/empty.png",
		  "callback" : "car5Button"
        },
		"car5Body" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 2,
          "position" : [25, -400],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car5Pantograph" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 2,
          "position" : [25, -400],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
        "car5Decal1" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 3,
          "position" : [25, -400],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car5Decal2" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 4,
          "position" : [25, -400],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
        "car5Decal3" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 5,
          "position" : [25, -400],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car5Decal4" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 6,
          "position" : [25, -400],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car5Decal5" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 7,
          "position" : [25, -400],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car5Decal6" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 8,
          "position" : [25, -400],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car5Decal7" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 9,
          "position" : [25, -400],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car5Decal8" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 10,
          "position" : [25, -400],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car5Decal9" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 11,
          "position" : [25, -400],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car5Decal10" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 12,
          "position" : [25, -400],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },

		
		
		"car6Button" : {
          "type" : "button",
		  "visible" : true,
		  "disabled" : false,
          "position" : [25, -480],
		  "caption" : "6",
		  "textAlign" : "left",
		  "textOffset" : [0, 0],
		  "zlevel" : 1,
		  "base" : "/interface/linkedTrain/trainConfigurator/empty.png",
		  "callback" : "car6Button"
        },
		"car6Body" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 2,
          "position" : [25, -480],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car6Pantograph" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 2,
          "position" : [25, -480],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
        "car6Decal1" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 3,
          "position" : [25, -480],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car6Decal2" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 4,
          "position" : [25, -480],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
        "car6Decal3" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 5,
          "position" : [25, -480],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car6Decal4" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 6,
          "position" : [25, -480],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car6Decal5" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 7,
          "position" : [25, -480],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car6Decal6" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 8,
          "position" : [25, -480],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car6Decal7" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 9,
          "position" : [25, -480],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car6Decal8" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 10,
          "position" : [25, -480],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car6Decal9" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 11,
          "position" : [25, -480],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car6Decal10" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 12,
          "position" : [25, -480],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		
		
		"car7Button" : {
          "type" : "button",
		  "visible" : true,
		  "disabled" : false,
          "position" : [25, -560],
		  "caption" : "7",
		  "textAlign" : "left",
		  "textOffset" : [0, 0],
		  "zlevel" : 1,
		  "base" : "/interface/linkedTrain/trainConfigurator/empty.png",
		  "callback" : "car7Button"
        },
		"car7Body" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 2,
          "position" : [25, -560],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car7Pantograph" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 2,
          "position" : [25, -560],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
        "car7Decal1" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 3,
          "position" : [25, -560],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car7Decal2" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 4,
          "position" : [25, -560],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
        "car7Decal3" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 5,
          "position" : [25, -560],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car7Decal4" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 6,
          "position" : [25, -560],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car7Decal5" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 7,
          "position" : [25, -560],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car7Decal6" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 8,
          "position" : [25, -560],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car7Decal7" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 9,
          "position" : [25, -560],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car7Decal8" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 10,
          "position" : [25, -560],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car7Decal9" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 11,
          "position" : [25, -560],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car7Decal10" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 12,
          "position" : [25, -560],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		
		"car8Button" : {
          "type" : "button",
		  "visible" : true,
		  "disabled" : false,
          "position" : [25, -640],
		  "caption" : "8",
		  "textAlign" : "left",
		  "textOffset" : [0, 0],
		  "zlevel" : 1,
		  "base" : "/interface/linkedTrain/trainConfigurator/empty.png",
		  "callback" : "car8Button"
        },
		"car8Body" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 2,
          "position" : [25, -640],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car8Pantograph" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 2,
          "position" : [25, -640],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
        "car8Decal1" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 3,
          "position" : [25, -640],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car8Decal2" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 4,
          "position" : [25, -640],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
        "car8Decal3" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 5,
          "position" : [25, -640],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car8Decal4" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 6,
          "position" : [25, -640],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car8Decal5" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 7,
          "position" : [25, -640],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car8Decal6" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 8,
          "position" : [25, -640],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car8Decal7" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 9,
          "position" : [25, -640],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car8Decal8" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 10,
          "position" : [25, -640],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car8Decal9" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 11,
          "position" : [25, -640],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car8Decal10" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 12,
          "position" : [25, -640],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		
		
		"car9Button" : {
          "type" : "button",
		  "visible" : true,
		  "disabled" : false,
          "position" : [25, -720],
		  "caption" : "9",
		  "textAlign" : "left",
		  "textOffset" : [0, 0],
		  "zlevel" : 1,
		  "base" : "/interface/linkedTrain/trainConfigurator/empty.png",
		  "callback" : "car9Button"
        },
		"car9Body" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 2,
          "position" : [25, -720],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car9Pantograph" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 2,
          "position" : [25, -720],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
        "car9Decal1" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 3,
          "position" : [25, -720],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car9Decal2" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 4,
          "position" : [25, -720],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
        "car9Decal3" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 5,
          "position" : [25, -720],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car9Decal4" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 6,
          "position" : [25, -720],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car9Decal5" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 7,
          "position" : [25, -720],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car9Decal6" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 8,
          "position" : [25, -720],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car9Decal7" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 9,
          "position" : [25, -720],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car9Decal8" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 10,
          "position" : [25, -720],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car9Decal9" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 11,
          "position" : [25, -720],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car9Decal10" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 12,
          "position" : [25, -720],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		
		"car10Button" : {
          "type" : "button",
		  "visible" : true,
		  "disabled" : false,
          "position" : [25, -800],
		  "caption" : "10",
		  "textAlign" : "left",
		  "textOffset" : [0, 0],
		  "zlevel" : 1,
		  "base" : "/interface/linkedTrain/trainConfigurator/empty.png",
		  "callback" : "car10Button"
        },
		"car10Body" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 2,
          "position" : [25, -800],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car10Pantograph" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 2,
          "position" : [25, -800],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
        "car10Decal1" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 3,
          "position" : [25, -800],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car10Decal2" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 4,
          "position" : [25, -800],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
        "car10Decal3" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 5,
          "position" : [25, -800],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car10Decal4" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 6,
          "position" : [25, -800],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car10Decal5" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 7,
          "position" : [25, -800],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car10Decal6" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 8,
          "position" : [25, -800],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car10Decal7" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 9,
          "position" : [25, -800],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car10Decal8" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 10,
          "position" : [25, -800],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car10Decal9" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 11,
          "position" : [25, -800],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        },
		"car10Decal10" : {
          "type" : "image",
	      "visible" : false,
	      "zlevel" : 12,
          "position" : [25, -800],
	      "file" : "/interface/linkedTrain/trainConfigurator/empty.png"
        }
		
	  }
	}
	
  },
  "scriptWidgetCallbacks" : [
    "loadTrainsetButtonPressed",
	"saveTrainsetButtonPressed",
	"saveCarButtonPressed",
	"carNumberSpinner.up",
	"carNumberSpinner.down",
	"carTypeSpinner.up",
	"carTypeSpinner.down",
	"color1Spinner.up",
	"color1Spinner.down",
	"color2Spinner.up",
	"color2Spinner.down",
	"decal1Spinner.up",
	"decal1Spinner.down",
	"decal2Spinner.up",
	"decal2Spinner.down",
	"decal3Spinner.up",
	"decal3Spinner.down",
	"decal4Spinner.up",
	"decal4Spinner.down",
	"decal5Spinner.up",
	"decal5Spinner.down",
	"decal6Spinner.up",
	"decal6Spinner.down",
	"decal7Spinner.up",
	"decal7Spinner.down",
	"decal8Spinner.up",
	"decal8Spinner.down",
	"decal9Spinner.up",
	"decal9Spinner.down",
	"decal10Spinner.up",
	"decal10Spinner.down",
	"pantographCheckBox",
	"reversedCheckBox",
	"doorslockedCheckBox",
	"copyCarButtonPressed",
	"car1Button",
	"car2Button",
	"car3Button",
	"car4Button",
	"car5Button",
	"car6Button",
	"car7Button",
	"car8Button",
	"car9Button",
	"car10Button",
	"craftButton",
	"debugButton",
	"craftSpinner.up",
	"craftSpinner.down",
	"cancelCopyButton",
	"cancel1Button",
	"saveAndSwitchButton",
	"crafTextbox"
  ],
  "scripts" : ["/interface/linkedTrain/trainConfigurator/trainConfiguratorGui.lua"],
  "scriptDelta" : 5,

  "sounds" : {
    "money" : "/sfx/objects/coinstack_medium2.ogg",
	"error" : "/sfx/interface/clickon_error.ogg"
  }

}
