{
"gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/linkedTrain/stationController/header.png",
      "fileBody" : "/interface/linkedTrain/stationController/window.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " Station Controller Configuration",
      "subtitle" : " Configure the station controller",
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/researchstation.png"
      },
      "zlevel" : -1
    },
    "imgShine" : {
      "type" : "image",
      "file" : "/interface/linkedTrain/stationController/shine.png",
      "zlevel" : 1,
      "position" : [0, 0],
      "mouseTransparent" : true
    },
	"close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [379, 324]
    },
	
	"loadBackupFileButton" : {
          "type" : "button",
	      "visible" : true,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "l.Backup",
          "position" : [20, 20],
	      "zlevel" : 2,
          "callback" : "loadBackupFileButtonPressed"
        },
		"saveBackupFileButton" : {
          "type" : "button",
	      "visible" : true,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "S.Backup",
          "position" : [75, 20],
	      "zlevel" : 2,
          "callback" : "saveBackupFileButtonPressed"
        }
	
},

  "scriptWidgetCallbacks" : [
    "loadBackupFileButtonPressed",
	"saveBackupFileButtonPressed"
  ],
  
  "scripts" : ["/objects/rails/stationController/loadBackupGUI.lua"],
  "scriptDelta" : 5

}