{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/linkedTrain/stationController/header.png",
      "fileBody" : "/interface/linkedTrain/stationController/window.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " Station Controller Configuration",
      "subtitle" : " Configure the station controller",
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/researchstation.png"
      },
      "zlevel" : -1
    },
    "imgShine" : {
      "type" : "image",
      "file" : "/interface/linkedTrain/stationController/shine.png",
      "zlevel" : 1,
      "position" : [0, 0],
      "mouseTransparent" : true
    },
	"close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [379, 324]
    },
	
	"mainOverlay" : {
      "type" : "layout",
      "visible" : false,
      "layoutType" : "basic",
      "zlevel" : 1,
      "rect" : [1, 21, 335, 256],
      "children" : {
		"clearSaveFileButton" : {
          "type" : "button",
	      "visible" : true,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Clear Save",
          "position" : [20, 50],
	      "zlevel" : 2,
          "callback" : "clearSaveFileButtonPressed"
        },
		
		"loadBackupFileButton" : {
          "type" : "button",
	      "visible" : true,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "l.Backup",
          "position" : [20, 20],
	      "zlevel" : 2,
          "callback" : "loadBackupFileButtonPressed"
        },
		"saveBackupFileButton" : {
          "type" : "button",
	      "visible" : true,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "S.Backup",
          "position" : [75, 20],
	      "zlevel" : 2,
          "callback" : "saveBackupFileButtonPressed"
        },
		
	    "groupStationsButton" : {
          "type" : "button",
	      "visible" : true,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Groups",
          "position" : [20, 130],
	      "zlevel" : 2,
          "callback" : "groupStationsButtonPressed"
        },
		"renameStationButton" : {
          "type" : "button",
	      "visible" : true,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "rename St.",
          "position" : [75, 130],
	      "zlevel" : 2,
          "callback" : "renameStationButtonPressed"
        },
		"NoGroupLabel1" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 200],
          "hAnchor" : "left",
          "value" : "This station is not part of any group."
        },
		"groupNameLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 200],
          "hAnchor" : "left",
          "value" : "Station Group name:"
        },
		"groupNameValue" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 190],
          "hAnchor" : "left",
          "value" : " "
        },
		"numInGroupLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 180],
          "hAnchor" : "left",
          "value" : "Number of Station in group: "
        },
		"numInGroupValue" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 170],
          "hAnchor" : "left",
          "value" : " "
        },
		"displayNameLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 160],
          "hAnchor" : "left",
          "value" : "Display name of station: "
        },
		"displayNameValue" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 150],
          "hAnchor" : "left",
          "value" : " "
        },
		"idLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 220],
          "hAnchor" : "left",
          "value" : "ID :"
        },
		"idValue" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 210],
          "hAnchor" : "left",
          "value" : " "
        },
		"manageAnotherStationButton" : {
          "type" : "button",
	      "visible" : true,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "rename St.",
          "position" : [130, 130],
	      "zlevel" : 2,
          "callback" : "manageAnotherStationPressed"
        }
	  }
	},
	"groupsOverlay" : {
      "type" : "layout",
      "visible" : false,
      "layoutType" : "basic",
      "zlevel" : 1,
      "rect" : [1, 21, 335, 256],
      "children" : {
	    "NoGroupLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 200],
          "hAnchor" : "left",
          "value" : "This station is not part of any group."
        },
		"createGroupButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "New Group",
          "position" : [20, 180],
	      "zlevel" : 2,
          "callback" : "createGroupButtonPressed"
        },
		"addToExistingGroupButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "AddToExist.Grp",
          "position" : [20, 90],
	      "zlevel" : 2,
          "callback" : "addToExistingGroupButtonPressed"
        },
		"groupNameLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 200],
          "hAnchor" : "left",
          "value" : "Station Group name:"
        },
		"groupNameTextBox" : {
          "type" : "textbox",
          "position" : [20, 190],
		  "maxWidth" : 200,
          "fontSize" : 10,
          "zlevel" : 2,
		  "visible" : false,
		  "regex" : "[a-zA-Z0-9]{0,30}",
		  "enterKey" : "groupNameEntered",
		  "callback" : "null",
		  "hint" : "e.g.: Line1",
          "nextFocus" : "groupNameTextBox"
        },
		"nameGroupButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Enter",
          "position" : [20, 170],
	      "zlevel" : 2,
          "callback" : "nameGroupButtonPressed"
        },
		"groupNameValue" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 190],
          "hAnchor" : "left",
          "value" : " "
        },
		"addStationToGroupButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "AddStation",
          "position" : [20, 110],
	      "zlevel" : 2,
          "callback" : "addStationToGroupButtonPressed"
        },
		"removeStationfromGroupButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Del.A Station",
          "position" : [75, 110],
	      "zlevel" : 2,
          "callback" : "removeStationFromGroupButtonPressed"
        },
		"renameGroupButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Rename Gr.",
          "position" : [130, 110],
	      "zlevel" : 2,
          "callback" : "renameGroupButtonPressed"
        },
		"manageOtherGroupsButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Other Grps",
          "position" : [130, 10],
	      "zlevel" : 2,
          "callback" : "manageOtherGroupsButtonPressed"
        },
		"numInGroupLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 180],
          "hAnchor" : "left",
          "value" : "Number of Station in group: "
        },
		"numInGroupValue" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 170],
          "hAnchor" : "left",
          "value" : " "
        },
		"idLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 220],
          "hAnchor" : "left",
          "value" : "ID :"
        },
		"idValue" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 210],
          "hAnchor" : "left",
          "value" : " "
        },
		"membersInGroupLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 160],
          "hAnchor" : "left",
          "value" : "Members of Group "
        },
		"membersInGroupValue" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 150],
          "hAnchor" : "left",
          "value" : ""
        },
		"ExitGroupButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Exit Group",
          "position" : [20, 90],
	      "zlevel" : 2,
          "callback" : "ExitGroupButtonPressed"
        },
		"backToMainButton" : {
          "type" : "button",
	      "visible" : true,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Back",
          "position" : [20, 10],
	      "zlevel" : 2,
          "callback" : "backToMainFromGroupsButtonPressed"
        },
		"changeNumInGroupButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Change Num",
          "position" : [20, 90],
	      "zlevel" : 2,
          "callback" : "changeNumInGroupButton"
        },
		
		"circularLabel" : {
          "type" : "label",
	      "visible" : false,
          "position" : [32, 80],
          "hAnchor" : "left",
          "value" : "^green;circular Line^reset;"
        },	
   	   "circularCheckBox" : {
         "type" : "button",
         "base" : "/interface/title/checkboxnocheck.png",
         "hover" : "/interface/title/checkboxnocheckhover.png",
         "baseImageChecked" : "/interface/title/checkboxcheck.png",
         "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",
         "checkable" : true,
         "checked" : false,
	     "visible" : false,
         "position" : [20, 80],
         "callback" : "circularCheckBox"
        },
	 	
		"Edit1Label" : {
         "type" : "label",
         "position" : [269, 49],
         "hAnchor" : "left",
         "value" : "^green;Use this slot to^reset;"
       },
	   "Edit2Label" : {
         "type" : "label",
         "position" : [273, 39],
         "hAnchor" : "left",
         "value" : "^green;link trainsets^reset;"
       },
	   "linkButton" : {
         "type" : "button",
	     "visible" : false,
         "disabled" : false,
         "base" : "/interface/button.png",
         "hover" : "/interface/buttonactivehover.png",
         "pressed" : "/interface/buttonactive.png",
         "caption" : "Link",
         "position" : [274, 4],
         "zlevel" : 2,
         "callback" : "linkButtonPressed"
       },
	   "unlinkButton" : {
         "type" : "button",
	     "visible" : false,
         "disabled" : false,
         "base" : "/interface/button.png",
         "hover" : "/interface/buttonactivehover.png",
         "pressed" : "/interface/buttonactive.png",
         "caption" : "Un-Link",
         "position" : [274, 57],
         "zlevel" : 2,
         "callback" : "unlinkButtonPressed"
       },
	   "itemslot1" : {
         "type" : "itemslot",
		 "visible" : false,
         "position" : [292, 19],
         "backingImage" : "/interface/inventory/empty.png",
	     "callback" : "slotleftclick",
         "rightClickCallback" : "slotrightclick"
       },
	   "ErrorLabel1" : {
         "type" : "label",
	     "visible" : false,
         "position" : [267, 44],
         "hAnchor" : "left",
         "value" : "^red;wrong item type!^reset;"
       },
	   "TestRunButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Test Run",
          "position" : [273, 10],
	      "zlevel" : 2,
          "callback" : "testRunButtonPressed"
        },
		
		"setTimetableButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "^red;set Timetable^reset;",
          "position" : [75, 90],
	      "zlevel" : 2,
          "callback" : "setTimetableButtonPressed"
        }
	   
	  }
	},
	"addStationOverlay" : {
      "type" : "layout",
      "visible" : false,
      "layoutType" : "basic",
      "zlevel" : 1,
      "rect" : [1, 21, 335, 256],
      "children" : {
		"stationsScrollArea" : {
	      "type": "scrollArea",
		  "zlevel": 1,
		  "rect": [6,23,153,228],
		  "children" : {
		    "stationsList" : {
		    "type" : "list",
			"callback" : "stationsListSelected",
		      "schema" : {
				"spacing" : [0, 1],
				"memberSize" : [140, 20],
			    "listTemplate" : {
				  "member" : {
                    "type" : "label",
                    "position" : [3, 1],
					"wrapWidth" : 130,
                    "hAnchor" : "left",
                    "value" : "Members of Group "
                  }
				}
		      }
		    }
		  }
		},
		"backToMainButton" : {
          "type" : "button",
	      "visible" : true,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Back",
          "position" : [20, 10],
	      "zlevel" : 2,
          "callback" : "backToMainFromAddStationButtonPressed"
        },
		"addStationLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [155, 220],
          "hAnchor" : "left",
          "value" : "Add station :"
        },
		"addStationvalue" : {
          "type" : "label",
		  "visible" : false,
          "position" : [155, 210],
          "hAnchor" : "left",
          "value" : " "
        },
		"addSTationToExistingButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "ADD",
          "position" : [155, 190],
	      "zlevel" : 2,
          "callback" : "addSTationToExistingButtonPressed"
        }
	  }
	},
	
	"testRunOverlay" : {
      "type" : "layout",
      "visible" : false,
      "layoutType" : "basic",
      "zlevel" : 1,
      "rect" : [1, 21, 335, 256],
      "children" : {
		"backToMainButton" : {
          "type" : "button",
	      "visible" : true,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Back",
          "position" : [20, 10],
	      "zlevel" : 2,
          "callback" : "backToMainFromTestRunButtonPressed"
        },
		"TestRunButton" : {
          "type" : "button",
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "St.Test",
          "position" : [217, 10],
	      "zlevel" : 2,
          "callback" : "startTestRunButtonPressed"
        },
		"clearTestRunDataButton" : {
          "type" : "button",
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Clr Data",
          "position" : [272, 10],
	      "zlevel" : 2,
          "callback" : "clearTestRunDataButtonPressed"
        },
		"testRunInProgressLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 222],
          "hAnchor" : "left",
          "value" : "^red;Test run in progress...^reset;"
        },
		"testRunDataScrollArea" : {
	      "type": "scrollArea",
		  "zlevel": 1,
		  "visible" : false,
		  "rect": [6,23,153,228],
		  "children" : {
		    "testRunDataList" : {
		    "type" : "list",
			"callback" : "testRunDataListSelected",
		      "schema" : {
				"spacing" : [0, 1],
				"memberSize" : [140, 20],
			    "listTemplate" : {
				  "stationLabel" : {
                    "type" : "label",
                    "position" : [60, 10],
					"wrapWidth" : 80,
                    "hAnchor" : "right",
                    "value" : "from Station X to Station X+1"
                  },
				  "timeLabel" : {
                    "type" : "label",
                    "position" : [80, 10],
					"wrapWidth" : 105,
                    "hAnchor" : "left",
                    "value" : "time"
                  },
				  "stopLenghtLabel" : {
                    "type" : "label",
                    "position" : [80, 1],
					"wrapWidth" : 130,
                    "hAnchor" : "right",
                    "value" : "X seconds stop"
                  }
				}
		      }
		    }
		  }
		},
		"instructionsLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [160, 150],
		  "wrapWidth" : 166,
          "hAnchor" : "left",
          "value" : "go to https://XYZ.gituhub.com and enter the data on the left to create a timetable"
        },
		"setTimetableButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "^red;set Timetable^reset;",
          "position" : [160, 118],
	      "zlevel" : 2,
          "callback" : "setTimetableButtonPressed"
        },
		"debug1Button" : {
          "type" : "button",
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Debug",
          "position" : [162, 10],
	      "zlevel" : 2,
          "callback" : "debug1ButtonPressed"
        }
	  }
	},
	"timetableOverlay" : {
      "type" : "layout",
      "visible" : false,
      "layoutType" : "basic",
      "zlevel" : 1,
      "rect" : [1, 21, 335, 256],
      "children" : {
		  
		"trainsELabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [6, 223],
		  "wrapWidth" : 166,
          "hAnchor" : "left",
          "value" : "^yellow;Trains going to East:^reset;"
        },
		"trainsWLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [6, 119],
		  "wrapWidth" : 166,
          "hAnchor" : "left",
          "value" : "^yellow;Trains going to West:^reset;"
        },
		
		"selectedTrainDataLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [124, 223],
		  "wrapWidth" : 166,
          "hAnchor" : "left",
          "value" : "^yellow;Train X-Dir Settings:^reset;"
        },
		  
		"trainsEastScrollArea" : {
	      "type": "scrollArea",
		  "zlevel": 1,
		  "visible" : false,
		  "rect": [6,126,103,228],
		  "children" : {
		    "trainsEastList" : {
		    "type" : "list",
			"callback" : "trainsListSelected",
			  "schema" : {
				"spacing" : [0, 1],
				"memberSize" : [90, 15],
			    "listTemplate" : {
				  "trainLabel" : {
                    "type" : "label",
                    "position" : [3, 1],
					"wrapWidth" : 85,
                    "hAnchor" : "left",
                    "value" : "^green;Train X-E^reset;"
                  }
			    }
			  }
			}
		  }
		},
		"trainsWestScrollArea" : {
	      "type": "scrollArea",
		  "zlevel": 1,
		  "visible" : false,
		  "rect": [6,23,103,124],
		  "children" : {
		    "trainsWestList" : {
		    "type" : "list",
			"callback" : "trainsListSelected",
			  "schema" : {
				"spacing" : [0, 1],
				"memberSize" : [90, 15],
			    "listTemplate" : {
				  "trainLabel" : {
                    "type" : "label",
                    "position" : [3, 1],
					"wrapWidth" : 85,
                    "hAnchor" : "left",
                    "value" : "^green;Train X-W^reset;"
                  }
			    }
			  }
			}
		  }
		},
		  
	    "trainsEastDataScrollArea" : {
	      "type": "scrollArea",
		  "zlevel": 1,
		  "visible" : false,
		  "rect": [104,23,221,228],
		  "children" : {
		    "trainsEastDataList" : {
		    "type" : "list",
			"callback" : "trainsDataListSelected",
		      "schema" : {
				"spacing" : [0, 1],
				"memberSize" : [110, 40],
			    "listTemplate" : {
				  "stationLabel" : {
                    "type" : "label",
                    "position" : [60, 20],
					"wrapWidth" : 80,
                    "hAnchor" : "right",
                    "value" : "^green;from Station X to Station X+1"
                  },
				  "timeLabel" : {
                    "type" : "label",
                    "position" : [80, 20],
					"wrapWidth" : 105,
                    "hAnchor" : "left",
                    "value" : "time"
                  },
				  "speedsLabel" : {
                    "type" : "label",
                    "position" : [70, 10],
					"wrapWidth" : 80,
                    "hAnchor" : "right",
                    "value" : "speed: 100%"
                  },
				  "stopLenghtLabel" : {
                    "type" : "label",
                    "position" : [80, 1],
					"wrapWidth" : 130,
                    "hAnchor" : "right",
                    "value" : "X seconds stop"
                  }
				}
		      }
		    }
		  }
		},
		"trainsWestDataScrollArea" : {
	      "type": "scrollArea",
		  "zlevel": 1,
		  "visible" : false,
		  "rect": [104,23,221,228],
		  "children" : {
		    "trainsWestDataList" : {
		    "type" : "list",
			"callback" : "trainsDataListSelected",
		      "schema" : {
				"spacing" : [0, 1],
				"memberSize" : [110, 40],
			    "listTemplate" : {
				  "stationLabel" : {
                    "type" : "label",
                    "position" : [60, 20],
					"wrapWidth" : 80,
                    "hAnchor" : "right",
                    "value" : "^green;from Station X to Station X+1"
                  },
				  "timeLabel" : {
                    "type" : "label",
                    "position" : [80, 20],
					"wrapWidth" : 105,
                    "hAnchor" : "left",
                    "value" : "time"
                  },
				  "speedsLabel" : {
                    "type" : "label",
                    "position" : [70, 10],
					"wrapWidth" : 80,
                    "hAnchor" : "right",
                    "value" : "speed: XYZ%"
                  },
				  "stopLenghtLabel" : {
                    "type" : "label",
                    "position" : [80, 1],
					"wrapWidth" : 130,
                    "hAnchor" : "right",
                    "value" : "X seconds stop"
                  }
				}
		      }
		    }
		  }
		},
		"addTrainButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "^red;add train^reset;",
          "position" : [23, 9],
	      "zlevel" : 2,
          "callback" : "addTrainButtonPressed"
        },
		
		"trainSettingsWestOverlay" : {
          "type" : "layout",
          "visible" : false,
          "layoutType" : "basic",
          "zlevel" : 2,
          "rect" : [223, 30, 332, 234],
          "children" : {
			"selectedTrainLabel" : {
              "type" : "label",
		      "visible" : true,
              "position" : [27, 190],
		      "wrapWidth" : 80,
              "hAnchor" : "left",
              "value" : "Train X-Dir Settings:"
            },
			"startStationLabel" : {
              "type" : "label",
		      "visible" : true,
              "position" : [10, 180],
		      "wrapWidth" : 80,
              "hAnchor" : "left",
              "value" : "Start Station : X"
            },
			"startTimeLabel" : {
              "type" : "label",
		      "visible" : true,
              "position" : [10, 170],
		      "wrapWidth" : 80,
              "hAnchor" : "left",
              "value" : "Start Time : X"
            },
			"changeTrainStartButton" : {
              "type" : "button",
	          "visible" : true,
              "disabled" : false,
              "base" : "/interface/button.png",
              "hover" : "/interface/buttonactivehover.png",
              "pressed" : "/interface/buttonactive.png",
              "caption" : "^red;Change^reset;",
              "position" : [27, 153],
	          "zlevel" : 2,
              "callback" : "changeTrainStartButtonPressed"
            },
			"separator" :{
			  "type" : "image",
			  "file": "/interface/linkedTrain/stationController/separator.png",
			  "visible" : true,
			  "position" : [3, 150]
			},
			"stationLabel" : {
              "type" : "label",
		      "visible" : false,
              "position" : [5, 136],
		      "wrapWidth" : 80,
              "hAnchor" : "left",
              "value" : "Station X to X+1:"
            },
			"speedLabel" : {
              "type" : "label",
		      "visible" : false,
              "position" : [5, 126],
		      "wrapWidth" : 80,
              "hAnchor" : "left",
              "value" : "Speed : XYZ %"
            },
			"speedSlider" : {
              "type" : "slider",
			  "visible" : false,
              "position" : [5, 116],
              "gridImage" : "/interface/linkedTrain/stationController/slider.png",
              "callback" : "speedSlider",
              "range" : [5, 100, 1]
            },
			"stopLenLabel" : {
              "type" : "label",
		      "visible" : false,
              "position" : [5, 106],
		      "wrapWidth" : 80,
              "hAnchor" : "left",
              "value" : "Stop Lenght :"
            },
			"stopLenValue" : {
             "type" : "label",
	         "visible" : false,
             "position" : [27, 96],
             "hAnchor" : "mid",
	         "value" : "888"
           },
           "stopLenSpinner" : {
             "type" : "spinner",
			 "visible" : false,
             "position" : [5, 96],
	         "upOffset" : 36
           },
		   "saveButton" : {
              "type" : "button",
	          "visible" : false,
              "disabled" : false,
              "base" : "/interface/button.png",
              "hover" : "/interface/buttonactivehover.png",
              "pressed" : "/interface/buttonactive.png",
              "caption" : "^green;Save^reset;",
              "position" : [27, 79],
	          "zlevel" : 2,
              "callback" : "timetableStationSaveButtonPressed"
            }
	      }
		},
		"trainSettingsEastOverlay" : {
          "type" : "layout",
          "visible" : false,
          "layoutType" : "basic",
          "zlevel" : 2,
          "rect" : [223, 30, 332, 234],
          "children" : {
			"selectedTrainLabel" : {
              "type" : "label",
		      "visible" : true,
              "position" : [27, 190],
		      "wrapWidth" : 80,
              "hAnchor" : "left",
              "value" : "Train X-Dir Settings:"
            },
			"startStationLabel" : {
              "type" : "label",
		      "visible" : true,
              "position" : [10, 180],
		      "wrapWidth" : 80,
              "hAnchor" : "left",
              "value" : "Start Station : X"
            },
			"startTimeLabel" : {
              "type" : "label",
		      "visible" : true,
              "position" : [10, 170],
		      "wrapWidth" : 80,
              "hAnchor" : "left",
              "value" : "Start Time : X"
            },
			"changeTrainStartButton" : {
              "type" : "button",
	          "visible" : true,
              "disabled" : false,
              "base" : "/interface/button.png",
              "hover" : "/interface/buttonactivehover.png",
              "pressed" : "/interface/buttonactive.png",
              "caption" : "^red;Change^reset;",
              "position" : [27, 153],
	          "zlevel" : 2,
              "callback" : "changeTrainStartButtonPressed"
            },
			"separator" :{
			  "type" : "image",
			  "file": "/interface/linkedTrain/stationController/separator.png",
			  "visible" : true,
			  "position" : [3, 150]
			},
			"stationLabel" : {
              "type" : "label",
		      "visible" : false,
              "position" : [5, 136],
		      "wrapWidth" : 80,
              "hAnchor" : "left",
              "value" : "Station X to X+1:"
            },
			"speedLabel" : {
              "type" : "label",
		      "visible" : false,
              "position" : [5, 126],
		      "wrapWidth" : 80,
              "hAnchor" : "left",
              "value" : "Speed : XYZ %"
            },
			"speedSlider" : {
              "type" : "slider",
			  "visible" : false,
              "position" : [5, 116],
              "gridImage" : "/interface/linkedTrain/stationController/slider.png",
              "callback" : "speedSlider",
              "range" : [5, 100, 1]
            },
			"stopLenLabel" : {
              "type" : "label",
		      "visible" : false,
              "position" : [5, 106],
		      "wrapWidth" : 80,
              "hAnchor" : "left",
              "value" : "Stop Lenght :"
            },
			"stopLenValue" : {
             "type" : "label",
	         "visible" : false,
             "position" : [27, 96],
             "hAnchor" : "mid",
	         "value" : "888"
           },
           "stopLenSpinner" : {
             "type" : "spinner",
			 "visible" : false,
             "position" : [5, 96],
	         "upOffset" : 36
           },
		   "saveButton" : {
              "type" : "button",
	          "visible" : false,
              "disabled" : false,
              "base" : "/interface/button.png",
              "hover" : "/interface/buttonactivehover.png",
              "pressed" : "/interface/buttonactive.png",
              "caption" : "^green;Save^reset;",
              "position" : [27, 79],
	          "zlevel" : 2,
              "callback" : "timetableStationSaveButtonPressed"
            }
	      }
		}
		
	  }
	}
	
  },
  
  "scriptWidgetCallbacks" : [
	"groupStationsButtonPressed",
	"createGroupButtonPressed",
	"groupNameEntered",
	"nameGroupButtonPressed",
	"addStationToGroupButtonPressed",
	"removeStationFromGroupButtonPressed",
	"renameGroupButtonPressed",
	"renameStationButtonPressed",
	"clearSaveFileButtonPressed",
	"manageOtherGroupsButtonPressed",
	"addToExistingGroupButtonPressed",
	"ExitGroupButtonPressed",
	"manageAnotherStationPressed",
	"backToMainFromGroupsButtonPressed",
	"backToMainFromAddStationButtonPressed",
	"addSTationToExistingButtonPressed",
	"stationsListSelected",
	"linkButtonPressed",
	"unlinkButtonPressed",
	"slotleftclick",
	"slotrightclick",
	"changeNumInGroupButton",
	"testRunButtonPressed",
	"circularCheckBox",
	"backToMainFromTestRunButtonPressed",
	"startTestRunButtonPressed",
	"clearTestRunDataButtonPressed",
	"setTimetableButtonPressed",
	"testRunDataListSelected",
	"debug1ButtonPressed",
	"trainsListSelected",
    "trainsDataListSelected",
	"addTrainButtonPressed",
	"loadBackupFileButtonPressed",
	"changeTrainStartButtonPressed",
	"saveBackupFileButtonPressed",
	"stopLenSpinner.up",
	"stopLenSpinner.down",
	"speedSlider",
	"timetableStationSaveButtonPressed"
  ],
  "scripts" : ["/objects/rails/stationController/stationControllerGUI.lua"],
  "scriptDelta" : 5,

  "sounds" : {
	"error" : "/sfx/interface/clickon_error.ogg",
	"on" : "/sfx/objects/console_generic_switchon.ogg",
    "off" : "/sfx/objects/console_generic_switchoff.ogg"
  },
  
  "refundOnClose" : ["mainOverlay.itemslot1"]

}
