{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/linkedTrain/stationController/header.png",
      "fileBody" : "/interface/linkedTrain/stationController/window.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " Station Controller Configuration",
      "subtitle" : " Configure the station controller",
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/researchstation.png"
      },
      "zlevel" : -1
    },
    "imgShine" : {
      "type" : "image",
      "file" : "/interface/linkedTrain/stationController/shine.png",
      "zlevel" : 1,
      "position" : [0, 0],
      "mouseTransparent" : true
    },
	"close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [379, 324]
    },
	
	"mainOverlay" : {
      "type" : "layout",
      "visible" : false,
      "layoutType" : "basic",
      "zlevel" : 1,
      "rect" : [1, 21, 335, 256],
      "children" : {
		"clearSaveFileButton" : {
          "type" : "button",
	      "visible" : true,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Clear Save",
          "position" : [20, 50],
	      "zlevel" : 2,
          "callback" : "clearSaveFileButtonPressed"
        },
	    "groupStationsButton" : {
          "type" : "button",
	      "visible" : true,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Groups",
          "position" : [20, 130],
	      "zlevel" : 2,
          "callback" : "groupStationsButtonPressed"
        },
		"renameStationButton" : {
          "type" : "button",
	      "visible" : true,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "rename St.",
          "position" : [75, 130],
	      "zlevel" : 2,
          "callback" : "renameStationButtonPressed"
        },
		"NoGroupLabel1" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 200],
          "hAnchor" : "left",
          "value" : "This station is not part of any group."
        },
		"groupNameLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 200],
          "hAnchor" : "left",
          "value" : "Station Group name:"
        },
		"groupNameValue" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 190],
          "hAnchor" : "left",
          "value" : " "
        },
		"numInGroupLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 180],
          "hAnchor" : "left",
          "value" : "Number of Station in group: "
        },
		"numInGroupValue" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 170],
          "hAnchor" : "left",
          "value" : " "
        },
		"displayNameLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 160],
          "hAnchor" : "left",
          "value" : "Display name of station: "
        },
		"displayNameValue" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 150],
          "hAnchor" : "left",
          "value" : " "
        },
		"idLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 220],
          "hAnchor" : "left",
          "value" : "ID :"
        },
		"idValue" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 210],
          "hAnchor" : "left",
          "value" : " "
        },
		"manageAnotherStationButton" : {
          "type" : "button",
	      "visible" : true,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "rename St.",
          "position" : [130, 130],
	      "zlevel" : 2,
          "callback" : "manageAnotherStationPressed"
        },
		
	   "Edit1Label" : {
         "type" : "label",
         "position" : [269, 49],
         "hAnchor" : "left",
         "value" : "^green;Use this slot to^reset;"
       },
	   "Edit2Label" : {
         "type" : "label",
         "position" : [273, 39],
         "hAnchor" : "left",
         "value" : "^green;link trainsets^reset;"
       },
	   "linkButton" : {
         "type" : "button",
	     "visible" : false,
         "disabled" : false,
         "base" : "/interface/button.png",
         "hover" : "/interface/buttonactivehover.png",
         "pressed" : "/interface/buttonactive.png",
         "caption" : "Link",
         "position" : [274, 4],
         "zlevel" : 2,
         "callback" : "linkButtonPressed"
       },
	   "unlinkButton" : {
         "type" : "button",
	     "visible" : false,
         "disabled" : false,
         "base" : "/interface/button.png",
         "hover" : "/interface/buttonactivehover.png",
         "pressed" : "/interface/buttonactive.png",
         "caption" : "Un-Link",
         "position" : [274, 57],
         "zlevel" : 2,
         "callback" : "unlinkButtonPressed"
       },
	   "itemslot1" : {
         "type" : "itemslot",
		 "visible" : false,
         "position" : [292, 19],
         "backingImage" : "/interface/inventory/empty.png",
	     "callback" : "slotleftclick",
         "rightClickCallback" : "slotrightclick"
       },
	   "ErrorLabel1" : {
         "type" : "label",
	     "visible" : false,
         "position" : [267, 44],
         "hAnchor" : "left",
         "value" : "^red;wrong item type!^reset;"
       }
	  }
	},
	"groupsOverlay" : {
      "type" : "layout",
      "visible" : false,
      "layoutType" : "basic",
      "zlevel" : 1,
      "rect" : [1, 21, 335, 256],
      "children" : {
	    "NoGroupLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 200],
          "hAnchor" : "left",
          "value" : "This station is not part of any group."
        },
		"createGroupButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "New Group",
          "position" : [20, 180],
	      "zlevel" : 2,
          "callback" : "createGroupButtonPressed"
        },
		"addToExistingGroupButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "AddToExist.Grp",
          "position" : [20, 90],
	      "zlevel" : 2,
          "callback" : "addToExistingGroupButtonPressed"
        },
		"groupNameLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 200],
          "hAnchor" : "left",
          "value" : "Station Group name:"
        },
		"groupNameTextBox" : {
          "type" : "textbox",
          "position" : [20, 190],
		  "maxWidth" : 200,
          "fontSize" : 10,
          "zlevel" : 2,
		  "visible" : false,
		  "regex" : "[a-zA-Z0-9]{0,30}",
		  "enterKey" : "groupNameEntered",
		  "callback" : "null",
		  "hint" : "e.g.: Line1",
          "nextFocus" : "groupNameTextBox"
        },
		"nameGroupButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Enter",
          "position" : [20, 170],
	      "zlevel" : 2,
          "callback" : "nameGroupButtonPressed"
        },
		"groupNameValue" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 190],
          "hAnchor" : "left",
          "value" : " "
        },
		"addStationToGroupButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "AddStation",
          "position" : [20, 110],
	      "zlevel" : 2,
          "callback" : "addStationToGroupButtonPressed"
        },
		"removeStationfromGroupButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Del.A Station",
          "position" : [75, 110],
	      "zlevel" : 2,
          "callback" : "removeStationFromGroupButtonPressed"
        },
		"renameGroupButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Rename Gr.",
          "position" : [130, 110],
	      "zlevel" : 2,
          "callback" : "renameGroupButtonPressed"
        },
		"manageOtherGroupsButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Other Grps",
          "position" : [75, 20],
	      "zlevel" : 2,
          "callback" : "manageOtherGroupsButtonPressed"
        },
		"numInGroupLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 180],
          "hAnchor" : "left",
          "value" : "Number of Station in group: "
        },
		"numInGroupValue" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 170],
          "hAnchor" : "left",
          "value" : " "
        },
		"idLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 220],
          "hAnchor" : "left",
          "value" : "ID :"
        },
		"idValue" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 210],
          "hAnchor" : "left",
          "value" : " "
        },
		"membersInGroupLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 160],
          "hAnchor" : "left",
          "value" : "Members of Group "
        },
		"membersInGroupValue" : {
          "type" : "label",
		  "visible" : false,
          "position" : [20, 150],
          "hAnchor" : "left",
          "value" : ""
        },
		"ExitGroupButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Exit Group",
          "position" : [20, 90],
	      "zlevel" : 2,
          "callback" : "ExitGroupButtonPressed"
        },
		"backToMainButton" : {
          "type" : "button",
	      "visible" : true,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Back",
          "position" : [20, 10],
	      "zlevel" : 2,
          "callback" : "backToMainFromGroupsButtonPressed"
        },
		"changeNumInGroupButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Change Num",
          "position" : [20, 90],
	      "zlevel" : 2,
          "callback" : "changeNumInGroupButton"
        }
	  }
	},
	"addStationOverlay" : {
      "type" : "layout",
      "visible" : false,
      "layoutType" : "basic",
      "zlevel" : 1,
      "rect" : [1, 21, 335, 256],
      "children" : {
		"stationsScrollArea" : {
	      "type": "scrollArea",
		  "zlevel": 1,
		  "rect": [6,23,153,228],
		  "children" : {
		    "stationsList" : {
		    "type" : "list",
			"callback" : "stationsListSelected",
		      "schema" : {
				"spacing" : [0, 1],
				"memberSize" : [140, 20],
			    "listTemplate" : {
				  "member" : {
                    "type" : "label",
                    "position" : [3, 1],
					"wrapWidth" : 130,
                    "hAnchor" : "left",
                    "value" : "Members of Group "
                  }
				}
		      }
		    }
		  }
		},
		"backToMainButton" : {
          "type" : "button",
	      "visible" : true,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "Back",
          "position" : [20, 10],
	      "zlevel" : 2,
          "callback" : "backToMainFromAddStationButtonPressed"
        },
		"addStationLabel" : {
          "type" : "label",
		  "visible" : false,
          "position" : [155, 220],
          "hAnchor" : "left",
          "value" : "Add station :"
        },
		"addStationvalue" : {
          "type" : "label",
		  "visible" : false,
          "position" : [155, 210],
          "hAnchor" : "left",
          "value" : " "
        },
		"addSTationToExistingButton" : {
          "type" : "button",
	      "visible" : false,
          "disabled" : false,
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonactivehover.png",
          "pressed" : "/interface/buttonactive.png",
          "caption" : "ADD",
          "position" : [155, 190],
	      "zlevel" : 2,
          "callback" : "addSTationToExistingButtonPressed"
        }
	  }
	}
	
  },
  
  "scriptWidgetCallbacks" : [
	"groupStationsButtonPressed",
	"createGroupButtonPressed",
	"groupNameEntered",
	"nameGroupButtonPressed",
	"addStationToGroupButtonPressed",
	"removeStationFromGroupButtonPressed",
	"renameGroupButtonPressed",
	"renameStationButtonPressed",
	"clearSaveFileButtonPressed",
	"manageOtherGroupsButtonPressed",
	"addToExistingGroupButtonPressed",
	"ExitGroupButtonPressed",
	"manageAnotherStationPressed",
	"backToMainFromGroupsButtonPressed",
	"backToMainFromAddStationButtonPressed",
	"addSTationToExistingButtonPressed",
	"stationsListSelected",
	"linkButtonPressed",
	"unlinkButtonPressed",
	"slotleftclick",
	"slotrightclick",
	"changeNumInGroupButton"
  ],
  "scripts" : ["/objects/rails/stationController/stationControllerGUI.lua"],
  "scriptDelta" : 5,

  "sounds" : {
	"error" : "/sfx/interface/clickon_error.ogg",
	"on" : "/sfx/objects/console_generic_switchon.ogg",
    "off" : "/sfx/objects/console_generic_switchoff.ogg"
  },
  
  "refundOnClose" : ["mainOverlay.itemslot1"]

}
